<a href="https://colab.research.google.com/github/MikolajKasprzyk/data_science_bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### Spis treści:
1. [Import bibliotek](#a1)
2. [Wczytanie danych](#a2)
3. [Preprocessing](#a3)
4. [Konkatenacja danych](#a4)
5. [Metoda append()](#a5)

### <a name='a1'></a> Import bibliotek

In [13]:
import pandas as pd
import numpy as np

### <a name='a2'></a> Wczytanie danych

In [18]:
def fetch_financial_data(company='AMZN'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

### <a name='a3'></a> Preprocessing

In [4]:
# dane wejsciowe mają różną wielkość, nazy kolumn wszystkie są te same
uber.info(), google.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 990 entries, 2023-04-14 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    990 non-null    float64
 1   High    990 non-null    float64
 2   Low     990 non-null    float64
 3   Close   990 non-null    float64
 4   Volume  990 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 46.4 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2023-04-14 to 2018-04-17
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

(None, None)

In [19]:
# dodawanie przedrostkow do nazw kolumn
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [22]:
google.head()

            google_open  google_high  google_low  google_close  google_volume
Date
2023-04-14       106.89       108.94      106.84        108.87       26578002
2023-04-13       105.84       107.49      105.84        107.43       24843579
2023-04-12       106.58       106.75      104.34        104.64       24370274
2023-04-11       106.55       106.73      104.68        105.35       26311803
2023-04-10       106.98       107.59      105.12        106.44       27067355

### <a name='a4'></a> Konkatenacja danych

In [34]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}') # wyświeltanie
df = pd.concat(objs=[amazon,apple, google, uber], axis=1) # axis=1 dodaje kolumny w bok
df.describe()

,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,apple_open,apple_high,apple_low,apple_close,apple_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,1258.00,990.00,990.00,990.00,990.00,990.00
mean,121.37,122.85,119.74,121.31,83643216.28,102.89,104.15,101.71,102.99,114630039.04,88.09,89.10,87.11,88.13,35006297.40,37.05,37.81,36.22,37.01,25401885.78
std,34.14,34.48,33.73,34.06,38591992.95,46.09,46.68,45.52,46.12,56107429.62,29.94,30.23,29.59,29.91,15747240.65,9.64,9.72,9.48,9.58,16386786.69
min,67.30,69.80,65.35,67.20,17626740.00,34.74,35.16,34.26,34.31,35195860.00,49.22,50.61,48.88,49.23,9312760.00,15.96,17.80,13.71,14.82,3380003.00
25%,91.06,91.73,90.06,90.95,57613405.00,52.45,53.21,52.03,52.42,77421371.77,60.22,60.72,59.84,60.35,25144235.00,30.02,30.59,29.36,30.07,15741518.75
50%,108.11,110.89,106.35,108.22,72482380.00,115.74,117.29,114.04,115.18,98880430.81,79.35,80.56,78.57,79.28,31143680.00,34.32,35.00,33.55,34.31,21741749.00
75%,158.33,159.93,156.22,158.09,98799270.00,145.28,147.18,144.19,145.52,133799983.78,112.62,114.01,111.44,112.70,40006603.75,43.95,44.53,43.15,43.75,30352403.25
max,187.20,188.65,184.84,186.57,311345660.00,181.58,181.88,178.09,180.96,434708544.96,151.25,151.55,148.90,149.84,133177100.00,63.25,64.05,60.80,63.18,186322536.00

In [35]:
df.corr()

,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,apple_open,apple_high,apple_low,apple_close,apple_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
amazon_open,1.00,1.00,1.00,1.00,-0.21,0.70,0.70,0.70,0.70,-0.17,0.76,0.76,0.77,0.76,-0.13,0.59,0.60,0.59,0.59,-0.03
amazon_high,1.00,1.00,1.00,1.00,-0.19,0.71,0.71,0.71,0.71,-0.17,0.77,0.76,0.77,0.77,-0.12,0.58,0.59,0.58,0.58,-0.02
amazon_low,1.00,1.00,1.00,1.00,-0.22,0.70,0.69,0.70,0.69,-0.18,0.76,0.76,0.76,0.76,-0.14,0.60,0.61,0.60,0.60,-0.04
amazon_close,1.00,1.00,1.00,1.00,-0.21,0.70,0.70,0.70,0.70,-0.17,0.76,0.76,0.77,0.76,-0.13,0.59,0.60,0.59,0.59,-0.03
amazon_volume,-0.21,-0.19,-0.22,-0.21,1.00,-0.29,-0.29,-0.30,-0.29,0.58,-0.31,-0.30,-0.32,-0.31,0.54,-0.16,-0.15,-0.17,-0.16,0.25
apple_open,0.70,0.71,0.70,0.70,-0.29,1.00,1.00,1.00,1.00,-0.38,0.91,0.92,0.91,0.91,-0.09,0.06,0.07,0.06,0.06,0.10
apple_high,0.70,0.71,0.69,0.70,-0.29,1.00,1.00,1.00,1.00,-0.37,0.91,0.91,0.91,0.91,-0.09,0.06,0.06,0.06,0.06,0.10
apple_low,0.70,0.71,0.70,0.70,-0.30,1.00,1.00,1.00,1.00,-0.38,0.91,0.92,0.91,0.91,-0.10,0.07,0.07,0.07,0.07,0.09
apple_close,0.70,0.71,0.69,0.70,-0.29,1.00,1.00,1.00,1.00,-0.38,0.91,0.92,0.91,0.91,-0.10,0.06,0.06,0.06,0.06,0.10
apple_volume,-0.17,-0.17,-0.18,-0.17,0.58,-0.38,-0.37,-0.38,-0.38,1.00,-0.40,-0.40,-0.41,-0.41,0.45,-0.15,-0.14,-0.17,-0.16,0.23
google_open,0.76,0.77,0.76,0.76,-0.31,0.91,0.91,0.91,0.91,-0.40,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.09
google_high,0.76,0.76,0.76,0.76,-0.30,0.92,0.91,0.92,0.92,-0.40,1.00,1.00,1.00,1.00,-0.13,0.23,0.23,0.23,0.23,0.10
google_low,0.77,0.77,0.76,0.77,-0.32,0.91,0.91,0.91,0.91,-0.41,1.00,1.00,1.00,1.00,-0.15,0.24,0.25,0.25,0.24,0.09
google_close,0.76,0.77,0.76,0.76,-0.31,0.91,0.91,0.91,0.91,-0.41,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.09
google_volume,-0.13,-0.12,-0.14,-0.13,0.54,-0.09,-0.09,-0.10,-0.10,0.45,-0.14,-0.13,-0.15,-0.14,1.00,-0.16,-0.15,-0.17,-0.16,0.28
uber_open,0.59,0.58,0.60,0.59,-0.16,0.06,0.06,0.07,0.06,-0.15,0.24,0.23,0.24,0.24,-0.16,1.00,1.00,1.00,0.99,-0.21
uber_high,0.60,0.59,0.61,0.60,-0.15,0.07,0.06,0.07,0.06,-0.14,0.24,0.23,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.18
uber_low,0.59,0.58,0.60,0.59,-0.17,0.06,0.06,0.07,0.06,-0.17,0.24,0.23,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.23
uber_close,0.59,0.58,0.60,0.59,-0.16,0.06,0.06,0.07,0.06,-0.16,0.24,0.23,0.24,0.24,-0.16,0.99,1.00,1.00,1.00,-0.20
uber_volume,-0.03,-0.02,-0.04,-0.03,0.25,0.10,0.10,0.09,0.10,0.23,0.09,0.10,0.09,0.09,0.28,-0.21,-0.18,-0.23,-0.20,1.00

In [36]:
df.columns

Index(['amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'apple_open', 'apple_high', 'apple_low', 'apple_close',
       'apple_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [37]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['amazon_close', 'apple_close', 'google_close', 'uber_close']

In [39]:
df_closes = df[closes]
df_closes.corr()

              amazon_close  apple_close  google_close  uber_close
amazon_close          1.00         0.70          0.76        0.59
apple_close           0.70         1.00          0.91        0.06
google_close          0.76         0.91          1.00        0.24
uber_close            0.59         0.06          0.24        1.00

### <a name='a5'></a> Metoda append()

In [41]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-04-14      31.31      31.62     30.93       31.48     11851874
2023-04-13      30.84      31.59     30.69       31.44     15079614
2023-04-12      31.19      31.45     30.40       30.59     15964933
2023-04-11      31.75      31.80     30.88       31.12     16906490
2023-04-10      30.96      31.79     30.61       31.74     16463111

In [46]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2019)]
uber_7 = uber[(uber.index.month == 6) & (uber.index.year == 2019)]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

In [47]:
# dopisanie danych do istniejąceo obiektu
uber_6_7 = uber_6.append(uber_7)

<ipython-input-47-0cee4f399fb6>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  uber_6_7 = uber_6.append(uber_7)

In [48]:
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

In [52]:
uber_6_7 = pd.concat([uber_6, uber_7])
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261